<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/chap07_상속/src/sec03_추상_클래스/exam02_추상_메소드와_재정의/AnimalExample.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sec03_추상_클래스.exam02_추상_메소드와_재정의.AnimalExample"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="chap07_상속"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chap07_상속"/>
</launchConfiguration>
